<div class="container">
    <h1 class="white bold">TIC TAC TOE</h1> 
    <div *ngIf="hasWinner" class="white bold winboard">
      <div class="announcement">
        {{winner ? winner + ' won' : 'DRAW!'}}
        <div><button (click)="reset()">Reset Game</button></div>
      </div>
    </div> 
      
      <table>
        <tr>
          <td class="tile bold" (click)="checkFilled(0)"><span class="board[0]!='O' ? player : pc">{{board[0]}}</span></td>
          <td class="tile bold" (click)="checkFilled(1)"><span class="board[1]!='O' ? player : pc">{{board[1]}}</span></td>
          <td class="tile bold" (click)="checkFilled(2)"><span class="board[2]!='O' ? player : pc">{{board[2]}}</span></td>
        </tr>
        <tr>
          <td class="tile bold" (click)="checkFilled(3)"><span class="board[3]!='O' ? player : pc">{{board[3]}}</span></td>
          <td class="tile bold" (click)="checkFilled(4)"><span class="board[4]!='O' ? player : pc">{{board[4]}}</span></td>
          <td class="tile bold" (click)="checkFilled(5)"><span class="board[5]!='O' ? player : pc">{{board[5]}}</span></td>
        </tr>
        <tr>
          <td class="tile bold" (click)="checkFilled(6)"><span class="board[6]!='O' ? player : pc">{{board[6]}}</span></td>
          <td class="tile bold" (click)="checkFilled(7)"><span class="board[7]!='O' ? player : pc">{{board[7]}}</span></td>
          <td class="tile bold" (click)="checkFilled(8)"><span class="board[8]!='O' ? player : pc">{{board[8]}}</span></td>
        </tr>
      </table>
</div>